<h1>お弁当注文アプリ</h1>
<%=form_tag yourindex_path, method: :get do %>
<p><strong>ようこそ</strong>
<%= select('member', 'id', Member.all.collect{|m|[m.name, m.id]}) %>
さん
<%=submit_tag 'あなたの注文状況'%>
</p>

<% end %>

<strong>管理者用:</strong><br>
<%= link_to '注文一覧', orders_path %><br>
<%= link_to '社員名簿', members_path %><br>
<%= link_to 'お弁当一覧', boxes_path %>